# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# Virtual Environment
venv/
.env
.env.*

# Django
*.log
db.sqlite3
staticfiles/
media/

# Celery
celerybeat-schedule
celerybeat-schedule-*
celery*.db
*.wal

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Backup / temporär
*.bak
*.tmp

# Migrations cache
*/migrations/__pycache__/

# ML Models
ml_models/
*.joblib

# Firebase / Secrets
config/firebase_credentials.json
*credentials*.json
*.pem